@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family:  'Montserrat', sans-serif;
}

#contacto{
    background-image: url('../images/fondo-contacto.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
h1{
    color: #E20000;
    font-size: 36px;
}

p{
    color: #6a6a6a;
    font-size: 16px;
}

.nav-link{
    color: #282828;
}

ul li:last-child{
    border: 1px #E20000 solid;
    border-radius: 15px;
}

.form-control{
    border-radius: 14px;
}

.shadow{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

textarea{
    height: 150px;
}

textarea .form-control{
    min-height: 200px ;
}

.btn{
    background-color: #000;
    color: #370a6d;
    border-radius: 14px;
}

.btn-rojo{
    padding-right: 9px;
    padding-left: 9px;
}

.btn:hover{
    background-color: #370a6d;
    color: #fff;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-success{
    background-color: #E20000;
}

footer, footer a{
    color: #fff;
    text-decoration: none;
    font-weight: 100;
}

.whatsapp{
    font-size: 30px;
    width: 68px;
    position: fixed;
    right: 70px;
    bottom: 0px;
    background-color: #370a6d;  
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 2px 0px 2  px 0px ;
}

.whatsapp a {
    color: #fff;
    font-weight: 400px;
}

.iconos{
    font-size: 30px;
}

.underline{
    text-decoration: underline;
}

@media (max-width: 768px) {
    #contacto{
        background-image: url(../images/fondo-proyectos.png);
        background-repeat: no-repeat;
    }
    .navbar-toggler-icon{
        color: black;
    }
    .underline{
        color: #E20000;
    }
    .icon:last-child{
        color: #E20000;
    }
    .btn-enviar{
        background-color: #fff;
    }
}